.AddProject{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fcfcfe, #f8f9fc, #f4f6fb, #e9f0f8, #ddeaf5, #cfe4f1, #c0dfeb);
    gap: 50px;
    padding-top: 60px;
    animation:scale-up-top 0.4s;
}

.AddProject-ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.AddProject-ul h1{
  background: linear-gradient(180deg,#555,#000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: max(30px,min(1vw,50px));
  line-height: 1;
  letter-spacing: -.05em;
  padding: 0px;
  position: relative;
}


.step-bar {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0;
    gap: 40%;
    width: 80%;
   font-size: 1.8rem;
  }
  
  .step-bar li {
    flex: 1 0 auto;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    color: #00BCB6;
    text-transform: uppercase;
   
    padding: 2%;
    border-radius: 50%;
  }
  
  .step-bar li.active {
    color: #00BCB6;
    background: linear-gradient(90deg, rgba(1,1,1,0) 0%, rgba(255,255,255,1) 0%);
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .step-bar li.completed {
    background-image: linear-gradient(-180deg, #00BCB6 0%, #00BCB6 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    border-radius: 50%;
  }

  .step-bar-item {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    background: linear-gradient(90deg, rgba(1,1,1,0) 0%, rgba(255,255,255,1) 0%);
    color: #00BCB6;
    border: 1px solid #00BCB6;
    
  }

  .step-bar-item::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 700%;
    height: 2px;
    
    background-color: #00BCB6;
    transform: translateY(-50%);
  }

  .step-bar-item:last-child::after {
    display: none; /* Pour cacher la barre après la dernière étape */
  }
  
  .step-bar-item.active::after,
  .step-bar-item.completed::after {
    background-image: linear-gradient(-180deg, #00BCB6 0%, #00BCB6 100%);
  }


    .AddProject-information{
    width: 40%;
    background-color: #fff;
    height: 60%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
   /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }

  .AddProject-information-step{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3%;
  }



.switch-btn{
        /*background-image: linear-gradient(-180deg, #00BFB6 0%, #00BFB6 100%);*/
        color: #00BCB6;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 3px;
        font-size: 15px;
        justify-content: center;
        padding: 1rem 1.75rem;
        text-decoration: none;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-top: 10px;
        font-weight: 600;
        border: none;
        background-color: #fff;
        /*font-family: 'Roboto', sans-serif;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
      }
 .switch-btn:hover{
      
        transform: scale(1.1);
        transition: 0.5s ease-in-out;
        background: rgb(1,1,1);
        background: linear-gradient(90deg, rgba(1,1,1,0) 0%, rgba(255,255,255,1) 0%);
        color: #007fae;
      
      }


.scale-up-top{animation:scale-up-top 0.4s; } @keyframes scale-up-top{0%{transform:scale(.5);transform-origin:center top}100%{transform:scale(1);transform-origin:center top}}


      @media only screen and (max-width: 767px) {
        .AddProject-information{
          width: 80%;
        
        }

         .step-bar li {
    
         
          padding: 4%;
          
        } 
         .AddProject-ul{
            width: 100%;
            gap: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .step-bar {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:  0;
            gap: 31%;
            width: 83%;
            padding-left: 0%;
            font-size: 1rem;
           
          }

         
          .step-bar-item::after {
           
            width: 350%;
            
          }
          
       }


       @media only screen and (max-width: 450px) {
        /* .register-form-navbar {
           height: 20%;
         }
         
         .register-form-logo {
           width: 30%;
         }
         */

         .AddProject-information{
          width: 80%;
          border: none;
          box-shadow: none;
          border-radius: 0;
        }
         .AddProject-ul{
            width: 100%;
            gap: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .step-bar {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:  0;
            gap: 31%;
            width: 83%;
            padding-left: 0%;
           
          }

          .AddProject-information{
            width: 100%;
            background-color: #fff;
            height: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .step-bar-item::after {
           
            width: 268%;
            
          }

          .AddProject-information-step{
           border: none;
          }
          
       }


   
