.sidebar-logo-dashboard{
    width: 80%;
    height: 80%;
}

.dashboard-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: #F6F8FA;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover .MuiButtonBase-root:hover{
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #00BCB6;
    color: #fff;

}

#sidebar-menu:hover{
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #00BCB6;
    color: #fff;

}

.sidebar-icon:hover{
    color: #fff;

}