.sidebar-logo-dashboard{
    width: 70%;
    height: 70%;
    cursor: pointer;
}

.dashboard-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: #fff;
    border: none ;
   /* background-color: #F6F8FA;*/
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover .MuiButtonBase-root:hover{
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #00BCB6;
    color: #fff;

}

#sidebar-menu:hover{
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #00BCB6;
    color: #fff;

}

.sidebar-icon:hover{
    color: #fff;

}

.sidebar-icon{
    font-size: 15px;
    width: 18px;
    height: 18px;
}


@media (min-width: 1600px) {
    .dashboard-side{
        display: flex;
        flex-direction: column;
        gap: 27px;
        height: 100vh;
        background-color: #fff;
    }
}