
/*#007fae Bleu bizarre la*/
/*#1b1b1b Noir */
.projects{
    width: 100vw;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    gap: 50px;
    animation:scale-up-center 0.4s;
}

.projects h2{
  background: linear-gradient(180deg,#555,#000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: max(36px,min(2vw,50px));
  line-height: 1;
  letter-spacing: -.05em;
  padding: 24px;
  position: relative;
}
.projects-maps{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    border: 1px solid;
    width: 95%;
    margin-bottom: 150px;
    animation: slideInFromLeft 1s ease;
   
}

.leaflet-container {
    width: 100%;
    height: 500px;
  }
  

  .leaflet-marker-icon, .leaflet-zoom-animated,.leaflet-interactive{
    height: 50px;
  }

  .project-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-top: 2%;
   
  }

 

  .project-content-header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10%;
    width: 80%;
  }

  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
  }

  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #F9F871;
   /* background-color: #22a6b3;*/
    padding-right: 40px;
    color:black;
  }

  .input-search::placeholder{
    color:black;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 100;
    
  }

  .create-projet{
   /* display: flex;
    align-items: center;
    gap: 5px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,127,174,1) 0%);
    color: #ffff;
    padding: 1%;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid;
    margin-left: 5%;*/
    background-color: #00BCB6;
    align-items: center;
    border: 1.5px solid;
    border-radius: 999px;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: neue-haas-unica,sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    line-height: 100%;
    padding: 0 22px;
    position: relative;
    text-decoration: none;
    transition: all .2s ease-in-out;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

  }

  .create-projet:hover{
    color: #00BCB6;
    background-color: #fff;

  }

  
  .create-projet-icon{
    font-size: 1rem;
  }

  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:white;
    background-color:transparent;
    pointer-events: painted;  
  }

  .btn-search:focus{
    color: black;
    background-color: transparent;
  }

  .btn-search:focus ~ .input-search{
    width: 200px;
    color:black;
    border-radius: 30px;
    background-color:transparent;
    border:1px solid black;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 200px;
    border-radius: 30px;
    color: black;
    border:1px solid black;
    background-color: transparent;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  

  .filterProject{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
