
  /*@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@500&display=swap');*/
 /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');*/


.register{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    gap: 15px;
    
   font-weight: 300;
    /*background-image: url('../../assets/background.png');
    background-size: cover; /* ajuste la taille de l'image pour couvrir l'élément */
   /* background-position: center center; 
    background-repeat: no-repeat; */

    
   
}

.register-form-navbar{
    position: relative;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;

    
}

.register-form-logo{
    width: 15%;
    padding: 2%;
    animation: slideInFromTop 1s ease;
}

.register-form{
   
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-top: 7px solid #00BFB6;
    border-radius: 2px;
    background-color: #FFFFFF;
    padding-bottom: 0%;
    animation: slideInFromLeft 1.5s ease;
}

.register-form h2{
    font-size: 2.1em;
    padding-top: 5%;
    color: #000000;
   /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
    font-weight: 800;
    color: #1b1b1b  ;
    

}

.register-form-content{
    width: 90%;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    gap: 2%;
    padding: 5%;

}

.register-form-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 2%;

}
.register-form-left input{
    height: 30px;
    width: 80%;
    background-color: #FFFFFF;
    padding-left: 5%;
    border: 1px solid #cccccc;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border-radius: 3px;
  /*  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
   
}
.register-form-left input:focus{
    outline: none !important;
    border:1px solid #00BFB6;
    box-shadow: 0 0 10px #719ECE;
  }
   


.register-form-left input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
  color: #555;

}
.register-form-left input::-webkit-autofill:focus{
    -webkit-box-shadow: 0 0 0 1000px #00BFB6 inset !important;
  color: #555;
}




.register-form-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 1%;
    border-radius: 3px;
    
}

.register-form-right input {
    border: 1px solid #cccccc;
    height: 30px;
    width: 80%;
    padding-left: 5%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
   /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */

}

.register-form-right input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
  color: #555;

}
.register-form-right input::-webkit-autofill:focus{
    -webkit-box-shadow: 0 0 0 1000px #00BFB6 inset !important;
  color: #555;
}

.register-form-right input:focus{
    outline: none !important;
    border:1px solid #00BFB6;
    box-shadow: 0 0 10px #719ECE;
  }

.register-form-checkbox{
    width: 90%;
    display: flex;
    position: relative;
    flex-direction: row;
   /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
    
}

.register-form-checkbox label{
    padding-left: 2%;
    display: flex;
    gap: 5px;
    font-weight: 600;
  /*  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
}



.form-btn{
  background-image: linear-gradient(-180deg, #00BFB6 0%, #00BFB6 100%);
  border-radius: 50px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 20%;
  border: 1.5px solid;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
  font-weight: 700;
  /*font-family: 'Roboto', sans-serif;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
}
.form-btn:hover{

  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  background: rgb(1,1,1);
  background: linear-gradient(90deg, rgba(1,1,1,0) 0%, rgba(255,255,255,1) 0%);
  color: #00BFB6;

}


.register-form-signin p{
  margin-top: 5%;
  font-weight: 100;
 /* font-family: neue-haas-unica,sans-serif;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
}

@keyframes slideInFromLeft {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}

.register-form-signin p {
    padding-top: 1%;
    font-weight: 600;
   /* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/
}
.register-form-signin p a{
   text-decoration: none;
}


@keyframes bounce {
  0% {
    transform: translateY(-20px);
  }
  40% {
    transform: translateY(20px);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}




/* Pour les mobiles */
@media only screen and (max-width: 767px) {
   /* .register-form-navbar {
      height: 20%;
    }
    
    .register-form-logo {
      width: 30%;
    }
    */

    .register-form-navbar {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-top: 20px;
      }
    
      .register-form-logo {
        width: 40%;
        margin-bottom: 20px;
      }
    .register-form {
      width: 100%;
      height: 100%;
      gap: 20px;
    }
    
    .register-form h2 {
      font-size: 1.8em;
    }
    
    .register-form-content {
      flex-direction: column;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      gap: 40px;
      
    }
    
    .register-form-left, .register-form-right {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
    .register-form-checkbox label{
        width: 80%;
        padding-left: 12%;

    }
    .register-form-btn {
      width: 80%;
    }
  }
  
  /* Pour les tablettes */
 /* @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .register-form-navbar {
      height: 15%;
    }
    
    .register-form-logo {
      width: 20%;
    }
    
    .register-form {
      width: 70%;
      height: 70%;
    }
    
    .register-form h2 {
      font-size: 1.8em;
    }
    
    .register-form-content {
        display: flex;
        justify-content: center;
        align-items: center;
      flex-direction: column;
      padding: 0;
    }
    
    .register-form-left, .register-form-right {
      width: 100%;
      padding: 0;
    }
    
    .register-form-btn {
      width: 80%;
    }
  }
  */