
server {
       listen 3000;
       listen [::]:3000;

       root /app/build;
       index index.html;

       location / {
               try_files $uri $uri/ =404;
       }
       location /api/ {
                proxy_pass http://backend:4000 ;
       }
}

