.casting-card{
    transition: transform .2s; 
    width: 90%;
    min-height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    background-color: #FBFBFB;
    padding: 3%;
    /*border: 1px solid rgb(208, 215, 222);*/
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   
   
}

.casting-card:hover{
    transform: scale(1.1)
}
.casting-card h3{
    width: 100%;
    margin-bottom: 0.1rem;
    text-align: left;
    height: 15%;
    /*background: linear-gradient(180deg, #FFF, #FFF);*/
     background: linear-gradient(180deg,#555,#000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: max(13px,min(0.5vw,50px));
    line-height: 1;
    letter-spacing: -.05em;
    padding: 0px;
    position: relative;  

}

.casting-card p {
   
    height: 60% ;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /*color: #fff;*/
    color:  #666;
    font-size: max(12px,min(0.8vw,20px));
    line-height: 1.5;
    letter-spacing: -0.01em;
    font-weight: 400;
    /*color:#8E818A ;*/
    opacity: 0.75;
   /* border-top: 1px solid #99A3AD;*/
    border-top: 1px solid  #666;
    margin-top: -5px;
    padding-top: 5px;
    transition: transform .2s
}

.casting-card-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 20%;
    width: 100%; 

}



.casting-card-icon div{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 0.7rem;
    border-radius: 5px;
    padding: 1% 5%;
    /*color: #fff;*/
    color: #00BCB6;
    border: 1.5px solid #00BCB6;

   
    font-size: max(11px,min(0.8vw,20px));
    line-height: 1.5;
    letter-spacing: -0.01em;
    font-weight: 600;
   
  
}

#delete-icon-card{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 0.7rem;
    border-radius: 5px;
    padding: 1% 5%;
    /*color: #fff;*/
    color: #00BCB6;
    border: none;
    font-size: max(11px,min(0.8vw,20px));
    line-height: 1.5;
    letter-spacing: -0.01em;
    font-weight: 600;

}

.casting-card-icon div:hover{
    background-color:   #00BCB6;
    color: #fff;
    border: 1px solid #fff;
}

.card-icon{
   
    font-size: 0.9em;
    cursor: pointer;
    color: linear-gradient(180deg,#555,#000);
}

/*.card-icon:hover{
   /background-color: #F6F8FA ;
    background-color: red;
}*/

@media (max-width: 750px) {
    /* Styles à appliquer pour les écrans d'au plus 750px de large */
    .dashboard-content {
      width: 100%; /* Afficher la sidebar */
    }
  }