.casting-modal{
    
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2000;
        background-color: rgba(0,0,0,0.6);
        display: flex;
        align-items: center;
        justify-content: center;
   
}

.casting-modal-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 55%;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
    border-radius: 0.25rem;
    padding: 1.5rem;
    gap: 5%;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    animation:scale-up-center 0.4s; } @keyframes scale-up-center{ 0%{transform:scale(.5)} 100%{transform:scale(1)};
 
    
}

.casting-modal-card h4{
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
   
}

.card-title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #009EBC;
    width: 90%;
    text-align: left
}

.casting-close-btn{
    position: absolute;
    top: 1%;
    right:1%;
    color: black;
    font-size: 18px;
    z-index: 99;  
    cursor: pointer;
    border-radius: 50%;
    transition: .2s;  
    padding: 3px;
  
}


.casting-close-btn:hover{
    transform: scale(1.1);
    color: #F0F0F0;
    background-color: #D11919;
}

.casting-description {
    width: 90%;
    display: flex;
    height: 40%;
    flex-direction: column;
    gap: 5%;
    /*color: #007fae;*/
    color:#009EBC
   
}

.casting-volume{
    width: 90%;
    display: flex;
    height: 15%;
    flex-direction: column;
    gap: 5%;
    /*color: #007fae;*/
    color:#009EBC

}

.casting-description h4,.casting-volume h4{
    color: #009EBC;
}


.casting-description p ,.casting-volume p{
    color: black;;
    word-wrap: break-word;
    height: 80%;
    font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.casting-order{
    background-color: #009EBC;
    border-color: #009EBC;
    color: #fff;
    align-items: center;
    border: 1.5px solid;
    border-radius: 999px;
    cursor: pointer;
    display: inline-flex;
    font-family: neue-haas-unica,sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    line-height: 100%;
    padding: 0 22px;
    position: relative;
    text-decoration: none;
    transition: all .2s ease-in-out;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    gap: 5px;
    text-align: left
}

.casting-order:hover{
    color:#007fae;
    background-color: #fff;
    transform: scale(1.1);
}



@media (max-width: 750px) {
    /* Styles à appliquer pour les écrans d'au plus 750px de large */
   
.casting-modal-card{
 width: 60%;
 
    
}
  }


  @media (max-width: 450px) {
    /* Styles à appliquer pour les écrans d'au plus 750px de large */
   
.casting-modal-card{
 width: 80%;
 
    
}
  }