.home-Board{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 25%;
    background-image: linear-gradient(to left top, #ffffff, #fbfbfe, #f6f8fc, #f0f5fb, #e9f2f9, #e9f2f9, #e9f2f9, #e9f2f9, #f0f5fb, #f6f8fc, #fbfbfe, #ffffff);
    /*background-image: linear-gradient(to left top, #ffffff, #eff1f9, #dce4f3, #c4d8ed, #a9cde5, #a9cde5, #a9cde5, #a9cde5, #c4d8ed, #dce4f3, #eff1f9, #ffffff);*/
    /*background-color: #E0EFF5;  */
  
}
.project-header{
  
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin-left: 1%;
    margin-right: 2%;
}
.project-description{
    padding: 2%;
    width: 70%;
    color: #fff;
    gap: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; 

    background-image: linear-gradient(to right top, #007fae, #0091b7, #00a2bb, #00b3b8, #00c3b1, #28cbb7, #3cd3bd, #4cdbc3, #65ddd7, #84dee5, #a3deeb, #c0dfeb);
   /* background-image: linear-gradient(to right top, #007fae, #0090b7, #00a0bb, #00b0ba, #00bfb6);*/
   /* background: rgb(255,255,255);
    background: linear-gradient(258deg, rgba(255,255,255,1) 0%, rgba(4,137,186,1) 39%);*/
}

.project-description h1{
    background-image: linear-gradient(to right top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    text-transform: capitalize;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: max(30px,min(1vw,50px));
    line-height: 1;
    letter-spacing: -.05em;
    padding: 0px;
    position: relative;  
}

.location-icon{
    width: 30px;
    height: 25px;
}
.project-description p{
    background-image: linear-gradient(to right top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    text-transform: capitalize;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 200;
    font-size: max(15px,min(1vw,50px));
    line-height: 1;
    letter-spacing: -.05em;
    padding: 0px;
    position: relative;
}

/*ajouter du style sur la div P*/

.project-description div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
    font-weight: 100;
    
    
}

.project-firstEvent{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left bottom, #44d69f, #00c8b1, #00b9bc, #00a8c0, #0097bb, #0094b9, #0092b8, #008fb6, #009bba, #00a6bb, #00b1ba, #00bcb6);
    /*background-color: rgb(246, 248, 250);*/
    width: 20%;
    border: none;
    color: #fff;

    
}
.project-firstEvent .firstEvent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.project-firstEvent .firstEvent .first , .project-firstEvent .firstEvent .third{

background-image: linear-gradient(to right top, #ffff, #ffff, #ffff, #ffff, #ffff);
text-transform: capitalize;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 900;
font-size: max(7px,min(0.9vw,50px));
    text-align: center;
letter-spacing: -.05em;
padding: 1px;
position: relative;
}

.project-firstEvent .firstEvent .second{
    background-image: linear-gradient(to right top, #ffff, #ffff, #ffff, #ffff, #ffff);
text-transform: capitalize;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 600;
font-size: max(45px,min(1vw,50px));
letter-spacing: -.05em;
padding: 0px;
position: relative;
}

.no-Event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    background-image: linear-gradient(to right top, #ffff, #ffff, #ffff, #ffff, #ffff);
    text-transform: capitalize;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    line-height: 1.5;
    font-size: max(17px,min(1vw,50px));
    letter-spacing: -.05em;
    padding: 0px;
    position: relative;

}
.kanban-board{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start; 
    gap: 30px;
    padding-left: 1%;
    padding-right: 2%;
    padding-bottom: 5%;
    overflow-x: auto;
    scroll-behavior: smooth;
}

    .column{
    display: flex;
    flex-direction: column;
    /*border: 1px solid rgb(216, 222, 228);*/
    border-radius: 5px;
    transition: transform 75ms ease 0s;
    background-color: #fff;
    /*background-color: rgb(246, 248, 250);*/
    min-width: 380px;
    box-shadow: none;
    /*box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;*/
    max-height: 500px;
    min-height: 450px;
    padding: 5px;
    border-top: 6px solid #009EBC;
    scroll-behavior: smooth;
   
    
    
    }

    .column:nth-child(1) {
        border-top: 6px solid #A1EB83; 
      }
      
      .column:nth-child(2) {
        border-top: 6px solid #00BCB6;
      }
      
      .column:nth-child(3) {
        border-top: 6px solid #44D69F; 
      }
      .column:nth-child(4) {
        border-top: 6px solid #F9F871;
      }
      
      .column:nth-child(5) {
        border-top: 6px solid #009EBC; 
      }

.column-header{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
    width: 100%;
    padding-left: 10px;
    height: 10%;
}

.column-header h4{
    background: linear-gradient(180deg,#555,#000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: max(17px,min(0.5vw,35px));
    line-height: 1;
    letter-spacing: -.05em;
    padding: 3px;
    position: relative;  

}

.column-header img{
   width: 20px;
   height: 20px;
}

.column-content{
    height: 100%;
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.css-ckn3hi-MuiPaper-root-MuiAppBar-root{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    /* box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12); */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: fixed;
    z-index: 1100;
    top: 0;
    left: auto;
    right: 0;
    background-color: #1976d2;
    color: #fff;
    height: 15%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: #f6f8fa;
    /* box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.25), 0px 0px 1px 1px rgba(9, 30, 66, 0.13);
}


@media (max-width: 900px) {
    .home-Board{
     
        padding-top: 280px;
       
       
       
      
    }


    .kanban-board{
       
      overflow-x:scroll;
      display: flex;
      justify-content: flex-start;
    }

    .column{
        min-width: 400px;
        
  }
}

@media (max-width: 450px) {

   
    .kanban-board{
       
      overflow-x:scroll;
      display: flex;
      justify-content: flex-start;
    }
    .home-Board{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-top: 25%;
        background-color: #fff;
       
       
      
    }
   /* .project-description h1{
        background-image: linear-gradient(to right top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
        text-transform: capitalize;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
       
       
    }*/

    .project-description h1{
        text-transform: uppercase;
        font-size: max(20px,min(1vw,50px));
        
    }

    .project-description p{
        font-size: max(13px,min(1vw,50px));
    }
    
    .project-description div{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 0.9rem;
        font-weight: 100;    
    }

    .column{
        min-width: 300px;
        
  }
}


@media (min-width: 1600px) {
    .home-Board{
        padding-top: 185px;
      
    }
}


@media (max-width: 450px) {
    .home-Board{
        padding-top: 185px;
      
    }
}