.project-page-header{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    box-shadow: inset 0 -1px 0 0 var( #eaeaea);
    position: relative;
    background-image: linear-gradient(to right bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fefeff, #fdfefe, #fcfdfe, #f9fbfd, #f6fafc, #f3f8fb, #f0f7fa);
    width: 100%;
    height: 100px;
    
   
}

.project-page-header-Img{
  margin-left: 3%;
 
    width: 200px;
    height: 30px;
}

.project-page-header-logout{
  margin-right: 3%;
    display: flex;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
    gap: 50px;
   
}


.project-page-header-logout img{
  width: 35px;
  height: 35px;
}
.userInfo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: linear-gradient(180deg,#555,#000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: max(17px,min(1vw,20px));
  line-height: 1;
  letter-spacing: -.05em;
  position: relative;
  text-align: center;
}

.userInfo:hover{
  transform: scale(1.1);
  transition: 0.5s transform;
  text-decoration: underline;
  text-decoration-color: #00BCB6;
 
}

.navbar-dropdown {
    position: absolute;
    top: 80%;
    right: 3%;
    z-index: 999;
    display: none;
    float: left;
    min-width: 17rem;
    height: 80%;
    padding: 0.1rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    color: #BF1823;
    animation:scale-up-center 0.4s;
  }

  .navbar-dropdown.is-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
    color: #BF1823;
  }

  .navbar-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    width: 80%;
    text-decoration: none;
    color:#E6101E;
  }

  .nav-icon{
    display: none;
  }

  @keyframes scale-up-center{ 0%{transform:scale(.5)} 100%{transform:scale(1)} }


  @media (max-width: 750px) {
   .nav-icon{
    display: block;
    margin-right: 20px;
   }

   .project-page-header-logout{
    display: none;
   }
  }
  
 
