.project-page-header{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100px;
    
   
}

.project-page-header-Img{
  margin-left: 3%;
 
    width: 200px;
    height: 30px;
}

.project-page-header-logout{
  margin-right: 3%;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
   
}

.navbar-dropdown {
    position: absolute;
    top: 80%;
    right: 1%;
    z-index: 999;
    display: none;
    float: left;
    min-width: 17rem;
    height: 100%;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }

  .navbar-dropdown.is-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30%;
  }

  .navbar-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    width: 80%;
    text-decoration: none;
    color: #212529;
  }

  .nav-icon{
    display: none;
  }


  @media (max-width: 750px) {
   .nav-icon{
    display: block;
    margin-right: 20px;
   }

   .project-page-header-logout{
    display: none;
   }
  }
  
 
