.dashboard-content{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
    justify-content: center;
    
   
    
   /* padding: 10px;*/
    
}

.dashboard-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    color: #212529;
}

.formNewCasting{
    
    color:#212529;
    background-color: #fff;
    width: 70%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px;
    border: 1px solid #e6e6e6;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    position: relative;
    margin-top: 100px;
}

.formNewCastingEntities{
   
    color:#212529;
    background-color: #fff;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px;
    border: 1px solid #e6e6e6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
   /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;*/
    position: relative;

}

.formNewCastingEntities h3, .formNewCasting h3{
    background: linear-gradient(180deg,#555,#000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: max(20px,min(1.2vw,76px));
    line-height: 1;
    letter-spacing: -.05em;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    width: 90%;
    text-align: center
}

.form-casting{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}


.form-casting div input {
    height: 20px;
    padding: 10px;
}

.form-casting div textarea {
    height: 65px;
    padding: 5px;
}

.ifcviewer-container{
    width: 70%;
}

.select-checkbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ifcviewer-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.ifcviewer-container select {
    height: 30px;
    width: 100%;
    font-size: 1em;
    
   /* display: block;*/
    box-sizing: border-box;
    

}
.css-13cymwt-control, .css-t3ipsp-control ,.css-b62m3t-container{
    width: 100%;
  
}

.css-1u9des2-indicatorSeparator {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    /*width: 1px;*/
    /* background-color: hsl(0, 0%, 80%); */
    margin-bottom: 8px;
    margin-top: 8px;
    box-sizing: border-box;
}


.ifcviewer-container select option:hover {
    background-color: #00BFB6 ;
}


.select-input{
 /*  display: flex;
    height: 30px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;*/
   
}

.Add-description{
    display: flex;
    flex-direction: column;
    width: 70%;
    
}

.Add-description textarea{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    font-size: 1rem;
    padding: 19px 15px;
    display: block;
    box-sizing: border-box;
    width: 100% !important;
   
}


.Add-description textarea:focus{
  border-color: #007fae;
  outline: none;
   
}

.NewCasting-btn{
    background-color: #00BCB6;
    border-color: #00BCB6;
    color: #fff;
    align-items: center;
    border: 1.5px solid;
    border-radius: 999px;
    cursor: pointer;
    display: inline-flex;
    font-family: neue-haas-unica,sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    line-height: 100%;
    padding: 0 22px;
    position: relative;
    text-decoration: none;
    transition: all .2s ease-in-out;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    gap: 5px;
    text-align: left


}

.NewCasting-btn:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in;
}

@media (max-width: 750px) {
    /* Styles à appliquer pour les écrans d'au plus 750px de large */
    .dashboard-content {
      width: 100%; /* Afficher la sidebar */
    }
  }