.step2{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 13%;
    height: 100%;

}

.step2-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    gap: 12%;
    padding-bottom: 10px;
   
}

.errorMessage{
    font-weight: 200;
    color: #F24D4D;
    font-size: 1em;

}

.step2-form-top{
    display: flex;
    gap: 5%;
    width: 80%;
    align-items: center;
   
}
.step2-form-top div{
    display: flex;
    flex-direction: column;
    gap: 3px;
}



.step2-form-top .street{
    width: 80%;
}

.step2-form-top .number{
    width: 20%;

}
.step2-form-top .number input{
    width: 100%;

}

.step2-form-bottom{
    display: flex;
    gap: 5%;
    width: 80%;
    align-items: center;
   
}

.step2-form-bottom div{
    display: flex;
    flex-direction: column;
    gap: 3px;
   
}

.step2-form-bottom .city{
    width: 60%;
}

.step2-form-bottom .code{
    width: 40%;

}
.step2-form-bottom .code input{
    width: 100%;
    

}


.step2-form  label{
    font-size: medium;
    color: #111111;
    font-size: 1rem;
}

.step2-form input{
    height: 30px;
    background-color: #FFFFFF;
    padding-left: 5%;
    border: solid 1.5px #D3D3D3;
   /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;*/
    border-radius: 3px;
    background-color: #f0f5f9;
    border-color: #f0f5f9

}

.step2-form input:focus {
    outline: none !important;
    border:1px solid #00BFB6;
    box-shadow: 0 0 10px #719ECE;
  }
   


  .step2-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
  color: #555;

}
.step2-form input::-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #00BFB6 inset !important;
  color: #555;
}


.step2-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    

}

.step2-navigation button{
    font-weight: 600;
  font-size: max(0.7em ,min(0.9vw,40px));
  line-height: 2;
  letter-spacing: -.05em;
  position: relative;
  background-color: #00BCB6;
  color: #fff;
  align-items: center;
  border: 1.5px solid;
  border-radius: 999px;
  cursor: pointer;
  height: 30px;
  padding: 0 20px;
  transition: all .2s ease-in-out;
  width: fit-content;
  display: flex;
  gap: 3px;

}

.step2-navigation button:hover{
    
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    color: #fff;
}



@media (max-width: 450px) {
    /* Styles à appliquer pour les écrans d'au plus 750px de large */
    .step2-navigation button{
        font-weight: 600;
        font-size: max(0.7em ,min(0.9vw,40px));
        line-height: 2;
        letter-spacing: -.05em;
        position: relative;
        background-color: #00BCB6;
        color: #fff;
        align-items: center;
        border: 1.5px solid;
        border-radius: 999px;
        cursor: pointer;
        height: 30px;
        padding: 0 20px;
        transition: all .2s ease-in-out;
        width: fit-content;
        display: flex;
        gap: 3px;
    
    }

    .step2-form input{
        font-size: 15px;
    }
  }


