.step1{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 40px;
    justify-content: center;
    border-radius: 10px;
   

}

.step1 h1{
  background: linear-gradient(180deg,#555,#000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: max(22px,min(1.7vw,50px));
  line-height: 1;
  letter-spacing: -.05em;
  padding: 0px;
  position: relative;
}

.step1 p{
  background: linear-gradient(180deg,#555,#000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 200;
  font-size: max(15px,min(1vw,50px));
  line-height: 1;
  letter-spacing: -.05em;
  padding: 0px;
  position: relative;

}


.step1 input{
    width: 70%;
    height: 40px;
    background-color: #FFFFFF;
    padding-left: 5%;
    border: 1px solid #cccccc;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 3px;
    border: solid 1.5px #D3D3D3;
     background-color: #F0F7FA;
    border-color: #f0f5f9;
   

}

.step1 .select-stepOne {
  width: 75%;
    height: 40px;
    background-color: #FFFFFF;
    padding-left: 5%;
    border: 1px solid #cccccc;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 3px;
    border: solid 1.5px #D3D3D3;
     background-color: #F0F7FA;
    border-color: #f0f5f9;
    

}



/*.step1 .select-stepOne option {
  margin-top: 30px;
  background: linear-gradient(180deg,#555,#000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 200;
  font-size: max(12px,min(1vw,50px));
  line-height: 1;
  letter-spacing: -.05em;
  padding: 0px;
  position: relative;
  border-top: 1px solid red;

}*/

.btn-step1{

  font-weight: 600;
  font-size: max(0.7em ,min(0.9vw,40px));
  line-height: 2;
  letter-spacing: -.05em;
  position: relative;
  background-color: #00BCB6;
  color: #fff;
  align-items: center;
  border: 1.5px solid;
  border-radius: 999px;
  cursor: pointer;
  height: 30px;
  padding: 0 20px;
  transition: all .2s ease-in-out;
  width: fit-content;
  display: flex;
  gap: 3px;

}

.btn-step1:hover{
  background-color: #00BCB6;
    transform: scale(1.1);
    color: #fff;
  transition: 0.5s ease-in-out;
 
  border-color: #00BCB6;
  
}
.step1 input:focus{
    outline: none !important;
    border:1px solid #00BCB6;
    /*box-shadow: 0 0 10px #719ECE;*/
  }
   


.step1 input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
  color: #555;

}
.step1 input::-webkit-autofill:focus{
    -webkit-box-shadow: 0 0 0 1000px #00BCB6 inset !important;
  color: #555;
}


.step1-navigation{
  display: flex;
  align-items: center;
  width: 75%;
  margin-bottom: 5%;
  justify-content: space-between;
}




@media screen and (max-width: 450px) {
  
  .step1{
    border: none;
    border-radius: 0;
   

}

.step1-navigation{
  
  width: 90%;
 
}
}