.step3{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10%;
    height: 100%;
    
}
.step3 h2{
    text-align: left;
    width: 90%;
    font-size: 1rem;

}

.step3-upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border-style: dashed;
    border-color: #A4A5A8;
    height: 80%;
    padding-top: 2% ;
    gap: 20%;
    cursor: pointer;
    background-color: #f0f5f9;
    border-radius: 20px;


}
.step3-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 5%;

}

.step3-navigation button{
    font-weight: 600;
    font-size: max(0.7em ,min(0.9vw,40px));
    line-height: 2;
    letter-spacing: -.05em;
    position: relative;
    background-color: #00BCB6;
    color: #fff;
    align-items: center;
    border: 1.5px solid;
    border-radius: 999px;
    cursor: pointer;
    height: 30px;
    padding: 0 20px;
    transition: all .2s ease-in-out;
    width: fit-content;
    display: flex;
    gap: 3px;

}

.step3-navigation button:hover{
    
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    color: #fff;
}



.step3-upload-icon{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
   
}
.step3-upload-icon h2{
    font-size: 1.2rem;
    width: 100%;
}

.step3-upload input{
    cursor: pointer;
}

.icon{
    color:#007fae;
    font-size: 500%;
    

}

.icon-scale{
   
    transform: scale(1.2);
    color: #007fae;
   animation:jello-horizontal .9s linear both;

}

.step3-upload li{
    animation:jello-horizontal .9s linear both;
}

.step3-upload ul{
    color: #A4A5A8;
    font-size: larger;
    font-weight: 100;
    text-decoration: none;
    font-size: 1.1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  
}

.step3-upload ul li{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    column-gap: 10px;
    width: 100%;
  
}

.file-icon{
    margin-top: 3px;
}

 @keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}



 @media (max-width: 750px) {
    /* Styles à appliquer pour les écrans d'au plus 750px de large */
    .step3-navigation button{
            font-weight: 600;
        font-size: max(0.7em ,min(0.9vw,40px));
        line-height: 2;
        letter-spacing: -.05em;
        position: relative;
        background-color: #00BCB6;
        color: #fff;
        align-items: center;
        border: 1.5px solid;
        border-radius: 999px;
        cursor: pointer;
        height: 30px;
        padding: 0 20px;
        transition: all .2s ease-in-out;
        width: fit-content;
        display: flex;
        gap: 3px;
    
    }

    .step3-upload{
      
        border-radius: 20px;
    }
  }

  @media (max-width: 450px) {

    .step3-navigation{
        width: 95%;
    }

    .step3-navigation button{
        font-weight: 600;
        font-size: max(0.6em ,min(0.9vw,40px));

}
.step3-upload{
    width: 80%;
    border-radius: 20px;
}
    
  }